{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/footer.css' %}" />
    <title>about</title>
  </head>

  <body>
    <section id="about-churches">
      <div class="container">
        <nav
          class="navbar navbar-expand-lg navbar-light bg-light justify-content-between"
        >
          <a class="navbar-brand" href="/"
            ><img src="{% static 'img/logo.png' %}" alt="logo"
          /></a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/minister">Our Minister</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/events">Events</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/services">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/charity">Charity</a>
              </li>
            </ul>
          </div>
        </nav>
        <div class="row about-church-wrapper">
          <div class="col-md-6 about-church-conten" style="padding-right: 40px">
            <h1 class="about-church-heading" id="hd-1">
              About Churches
              <p class="about-underline"></p>
            </h1>
            <p class="about-church-para">
              In 2009, Pastor Finny John and family were used as instruments by
              God for laying the foundations of a prayer gathering in High
              Wycombe, Bucks. The gathered believers prayed for the needy and
              the suffering. It was initially a service focussed at the
              malayalee congregation. After initial delays in the addition of
              members to the congregation, God opened ways where new families
              relocated to High Wycombe.
            </p>
          </div>

          <div
            class="col-md-4 about-church-img"
            style="
              background-image: url('{% static 'img/happy-man-freedom-sunrise-nature-successful-concept.jpg' %}');
            "
          ></div>
          <h1 class="about-church-heading" id="hd-2">
            About Churches
            <p class="about-underline"></p>
          </h1>
        </div>
      </div>
      <div class="decor-box1"></div>
      <div class="decor-box2"></div>
    </section>

    <section id="prayer-centre">
      <div class="container">
        <div class="row black-box-row">
          <div class="col-md-6 black-box-col">
            <h6 class="prayer-centre-title">Wycombe Prayer Centre  </h6>
            <p class="prayer-centre-para">
              High Wycombe, often referred to as Wycombe, is a large market town
              in Buckinghamshire, England and one-time 'Furniture Capital of
              England'. High Wycombe is a lively, modern location with plenty of
              tourist attractions & points of interest.
            </p>
            <p class="prayer-centre-para">
              Based in this beautiful town is Wycombe Prayer centre, a Malayalee
              Pentecostal family church of believers who love the Lord and seek
              to fulfil his purposes as the Lord leads in any given life
              setting. Spirit-filled worship, sound teaching of God’s Word and
              prayer are central to the Wycombe Prayer Centre community. We
              wholeheartedly welcome you to our regular services.
            </p>
            <div class="prayer-centre-location">
              <a class="landing-location-btn" href="#"
                >View Location
                <i class="fa-solid fa-arrow-right" style="margin-left: 8px"></i
              ></a>
            </div>
          </div>
          <div class="col-md-5 service-timing-wrapper">
            <h6>Service Timings</h6>
            <div class="service-timing-box">
              <div class="container">
                <div class="timing">
                  <p class="timing-head">Ladies prayer meet</p>
                  <p>Tuesday - 9.30am to 11.30am</p>
                </div>
                <div class="timing">
                  <p class="timing-head">Cottage Meeting</p>
                  <p>Tuesday - 7.30pm to 9.00pm</p>
                </div>
                <div class="timing">
                  <p class="timing-head">Sunday School</p>
                  <p>Sunday - 9.15am to 10.00am</p>
                </div>
                <div class="timing">
                  <p class="timing-head">Worship</p>
                  <p>Sunday - 10.00am to 12.30pm</p>
                </div>
                <div class="timing last">
                  <div class="user-sec">
                    <i class="fas fa-user"></i>
                    <p>
                      Pr Finny Dan V John <br />
                      Mobile : +447956424509
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="devider"></div>
        </div>
      </div>
    </section>

    <section id="prayer-centre">
      <div class="container">
        <div class="row black-box-row">
          <div class="col-md-6 black-box-col">
            <h6 class="prayer-centre-title">Oxford Prayer Center</h6>
            <p class="prayer-centre-para">
              God emancipated humankind from the bondage of sin and slavery. His
              ultimate purpose of redemption is indeed for us to dwell in his
              presence, enjoy his love and propagate His word. It gives us great
              joy and immense pleasure to then proclaim that the Oxford Prayer
              Centre is by all measure a place to enjoy and experience God's
              presence in the heart of Oxford. Oxford Prayer Centre is a
              Malayalee Pentecostal church worshiping the Lord in truth and
              spirit. The gates of this prayer home are also open to the
              underprivileged and needy, we hope to support them in prayers. We
              are commissioned to live and face the tomorrow in humility and
              holiness.
            </p>
            <p class="prayer-centre-para">
              Under the Lordship of Christ, we as a church hope to pray for the
              healing of boroughs, restoration of communities and reconciliation
              of nations across with a desire of eventually witnessing a wind of
              revival and transformation..
            </p>
            <div class="prayer-centre-location">
              <a class="landing-location-btn" href="#"
                >View Location
                <i class="fa-solid fa-arrow-right" style="margin-left: 8px"></i
              ></a>
            </div>
          </div>
          <div class="col-md-5 service-timing-wrapper">
            <h6>Service Timings</h6>
            <div class="service-timing-box">
              <div class="container">
                <div class="timing">
                  <p class="timing-head">Ladies prayer meet</p>
                  <p>Tuesday - 9.30am to 11.30am</p>
                </div>
                <div class="timing">
                  <p class="timing-head">Cottage Meeting</p>
                  <p>Tuesday - 7.30pm to 9.00pm</p>
                </div>
                <div class="timing">
                  <p class="timing-head">Sunday School</p>
                  <p>Sunday - 9.15am to 10.00am</p>
                </div>
                <div class="timing">
                  <p class="timing-head">Worship</p>
                  <p>Sunday - 10.00am to 12.30pm</p>
                </div>
                <div class="timing last">
                  <div class="user-sec">
                    <i class="fas fa-user"></i>
                    <p>
                      Pr Finny Dan V John <br />
                      Mobile : +447956424509
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="devider"></div>
          <div class="prayer-center-container">
            <img
              src="{% static 'img/ben-white-ReEqHw2GyeI-unsplash.jpg' %}"
              alt=""
              class="image"
            />
            <p class="p-decor-box"></p>
            <div class="prayer-center-content">
              <h3>Aylesbury Prayer Centre</h3>
              <p>
                Aylesbury is a bustling market town located just north of the
                Chiltern Hills, Buckinghamshire, in the rich agricultural area
                known as the Vale of Aylesbury. Aylesbury being the birthplace
                of the Paralympics does hold a significant place in history.
                <br /><br />
                We have regular meetings based in Aylesbury. These include area
                meetings and regular systematic Bible studies. Please do get in
                touch for fellowship and further details. Contact Details
              </p>
              <button class="p-btn">
                View Location <i class="fa-solid fa-arrow-right"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="footer">
      <div class="footer-top">
        <section class="address-section">
          <h5>Address</h5>
          <p>12 Field Road</p>
          <p>High Wycombe</p>
          <p>HP12 4LR</p>
        </section>
        <section class="contact-section">
          <h5>Contact Us</h5>
          <p>+44 7956 424509</p>
          <p>info@gospelfornations.co.uk</p>
        </section>
        <section class="follow-section">
          <h5>Follow Us</h5>
          <div class="icon-container">
            <i class="fa-brands fa-youtube" onclick="goYoutube()"></i
            ><i class="fa-brands fa-twitter" onclick="goTwit()" style="margin-left: 5px"></i
            ><i class="fa-brands fa-facebook-f" onclick="goFb()" style="margin-left: 5px"></i>
            <i class="fa-brands fa-instagram"onclick="goInsta() style="margin-left: 5px"></i>
          </div>
        </section>
      </div>
      <div class="footer-bottom">
        <p>@ 2022 www.gospelfornations.co.uk All Rights Reserved</p>
      </div>
    </section>

    <script
      src="https://kit.fontawesome.com/ffd7bffe92.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"></script>

    <script>

      function goYoutube(){
        window.location.href = "https://www.youtube.com/channel/UC6RJQprq8X-yLUlVaOI1XHQ"
      }

      function goFb(){
        window.location.href = "https://www.google.com/url?sa=t&source=web&rct=j&url=https://m.facebook.com/oxfordandwycombeprayercentre/&ved=2ahUKEwjQuoT3xM_4AhUvQkEAHaJSBeIQFnoECAYQBQ&usg=AOvVaw08t821lKnrZRqp8jz7OmgX"
      }

      function goTwit(){
        window.location.href = ""
      }

      function goInsta(){
        window.location.href = ""
      }

    </script>
  </body>
</html>
