{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <link rel="stylesheet" href="{% static 'css/footer.css' %}" />
  <meta name="keywords"
    content="gospelfornations,gospelfornation,church,Malayalam,High Wycombe,high wycombe Malayalee Pentecostal Church in High Wycombe,wycombe, Aylesbury,oxford,Buckinghamshire,Oxfordshire aylesbury church uk waycombe">
  <meta name="description"
    content="Malayalam/ Malayalee Pentecostal Church in High Wycombe, Aylesbury, Oxford,  Buckinghamshire,  Oxfordshire">


  <!-- --------meta tags--------- -->
  <title>About</title>
</head>

<body>
  <section id="about-churches">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
        <a class="navbar-brand" href="/"><img src="{% static 'img/logo.png' %}" alt="logo" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/events">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/charity">Charity</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/minister">Our Minister</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/photos">Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact Us</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="about-church-wrapper">
        <div class="about-church-conten" style="padding-right: 40px">
          <h1 class="about-church-heading" id="hd-1">
            About Churches
            <p class="about-underline"></p>
          </h1>
          <p class="about-church-para">
            In 2009, Pastor Finny John and family were used as instruments by God for laying the foundations of a prayer
            gathering in High Wycombe, Buckinghamshire and further fellowships were established in Oxford, Aylesbury and
            Witny. The gathered believers prayed for the needy and the suffering. It was initially a service focussed at
            the malayalee congregation. After initial delays in the addition of members to the congregation, God opened
            ways where new families relocated to all these locations.
          </p>
        </div>

        <div class="about-church-img"></div>
        <h1 class="about-church-heading" id="hd-2">
          About Churches
          <p class="about-underline"></p>
        </h1>
      </div>
    </div>
    <div class="decor-box1"></div>
    <div class="decor-box2"></div>
  </section>

  <section id="prayer-centre">
    <div class="container">
      <div class="row black-box-row">
        <div class="col-md-6 black-box-col">
          <h6 class="prayer-centre-title" id="wycombe">
            Wycombe Prayer Centre  
          </h6>
          <p class="prayer-centre-para">
            High Wycombe, often referred to as Wycombe, is a large market town
            in Buckinghamshire, England and one-time 'Furniture Capital of
            England'. High Wycombe is a lively, modern location with plenty of
            tourist attractions & points of interest.
          </p>
          <p class="prayer-centre-para">
            Based in this beautiful town is Wycombe Prayer centre, a Malayalee
            Pentecostal family church of believers who love the Lord and seek
            to fulfil his purposes as the Lord leads in any given life
            setting. Spirit-filled worship, sound teaching of God’s Word and
            prayer are central to the Wycombe Prayer Centre community. We
            wholeheartedly welcome you to our regular services.
          </p>
          <div class="prayer-centre-location">
            <a class="landing-location-btn"
              href="https://www.google.com/maps/place/John+Wood+Scout+Centre,+Keep+Hill+Rd,+High+Wycombe+HP11+1DW,+UK/@51.6212802,-0.7346267,17z/data=!3m1!4b1!4m5!3m4!1s0x487661bf6e33d66b:0xe6b1847e8c8b6ff7!8m2!3d51.6212802!4d-0.7346267">View
              Location
              <i class="fa-solid fa-arrow-right" style="margin-left: 8px"></i></a>
          </div>
        </div>
        <div class="col-md-5 service-timing-wrapper">
          <h6>Service Timings</h6>
          <div class="service-timing-box">
            <div class="container">
              <div class="timing">
                <p class="timing-head">Ladies prayer meet</p>
                <p>Tuesday 9:30 AM to 11:00 AM</p>
              </div>
              <div class="timing">
                <p class="timing-head">Cottage Meeting</p>
                <p>Wednesday 7:00 PM to 9:00 PM</p>
              </div>
              <div class="timing">
                <p class="timing-head">Sunday School</p>
                <p>Sunday 9:15 AM to 10:15 AM</p>
              </div>
              <div class="timing">
                <p class="timing-head">Worship</p>
                <p>10:15 AM to 12:30 PM</p>
              </div>
              <div class="timing last">
                <div class="user-sec">
                  <i class="fas fa-user"></i>
                  <p>
                    Pr. Blesson Thomas <br />
                    Mobile : +447703416885
                    <br>
                    <br>

                    Pr. Finny John <br />
                    Mobile : +447956424509(WhatsApp Only)
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="devider"></div>
      </div>
    </div>
  </section>

  <section id="prayer-centre">
    <div class="container">
      <div class="row black-box-row">
        <div class="col-md-6 black-box-col">
          <h6 class="prayer-centre-title" id="oxford">
            Oxford Prayer Center
          </h6>
          <p class="prayer-centre-para">
            God emancipated humankind from the bondage of sin and slavery. His
            ultimate purpose of redemption is indeed for us to dwell in his
            presence, enjoy his love and propagate His word. It gives us great
            joy and immense pleasure to then proclaim that the Oxford Prayer
            Centre is by all measure a place to enjoy and experience God's
            presence in the heart of Oxford. Oxford Prayer Centre is a
            Malayalee Pentecostal church worshiping the Lord in truth and
            spirit. The gates of this prayer home are also open to the
            underprivileged and needy, we hope to support them in prayers. We
            are commissioned to live and face the tomorrow in humility and
            holiness.
          </p>
          <p class="prayer-centre-para">
            Under the Lordship of Christ, we as a church hope to pray for the
            healing of boroughs, restoration of communities and reconciliation
            of nations across with a desire of eventually witnessing a wind of
            revival and transformation..
          </p>
          <div class="prayer-centre-location">
            <a class="landing-location-btn"
              href="https://www.google.com/maps/place/Cheney+School/@51.7531368,-1.2222746,15z/data=!4m5!3m4!1s0x0:0x168e662c1037c82e!8m2!3d51.7531368!4d-1.2222746">View
              Location
              <i class="fa-solid fa-arrow-right" style="margin-left: 8px"></i></a>
          </div>
        </div>
        <div class="col-md-5 service-timing-wrapper">
          <h6>Service Timings</h6>
          <div class="service-timing-box">
            <div class="container">
              <div class="timing">
                <p class="timing-head">Ladies prayer meet</p>
                <p>Tuesday 9:30 AM to 11:00 AM</p>
              </div>
              <div class="timing">
                <p class="timing-head">Cottage Meeting</p>
                <p>Wednesday 7:00 PM to 9:00 PM</p>
              </div>
              <div class="timing">
                <p class="timing-head">Sunday School</p>
                <p>Sunday 2:30 PM to 3:30 PM</p>
              </div>
              <div class="timing">
                <p class="timing-head">Worship</p>
                <p>Sunday 3:30 PM to 6:00 PM</p>
              </div>
              <div class="timing last">
                <div class="user-sec">
                  <i class="fas fa-user"></i>
                  <p>
                    Pr. Sibi Mathew<br />
                    Mobile : +447424 320122
                    <br><br>
                    Pr. Finny John <br />
                    Mobile : +447956424509 (WhatsApp Only)
                  </p>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="devider"></div>
        <!-- <div class="prayer-center-container">
          <img src="{% static 'img/ben-white-ReEqHw2GyeI-unsplash.jpg' %}" alt="" class="image" />
          <p class="p-decor-box"></p>
          <div class="prayer-center-content">
            <h3>Aylesbury Prayer Centre</h3>
            <p>
              Aylesbury is a bustling market town located just north of the
              Chiltern Hills, Buckinghamshire, in the rich agricultural area
              known as the Vale of Aylesbury. Aylesbury being the birthplace
              of the Paralympics does hold a significant place in history.
              <br /><br />
              Aylesbury Prayer Centre is a Malayalam Pentecostal Church worshiping the Lord in truth and spirit.
              Spirit-filled worship, sound teaching of God’s Word and prayer are central to the Aylesbury Prayer Centre
              community. We wholeheartedly welcome you to our regular services.
              <br>
              <br>
              Location - Address: The Grange Secondary School, Wendover Way, Aylesbury HP21 7NH
            </p>
          </div>
        </div> -->
      </div>
    </div>
  </section>

  <section id="prayer-centre">
    <div class="container">
      <div class="row black-box-row">
        <div class="col-md-6 black-box-col">
          <h6 class="prayer-centre-title" id="oxford">
            Aylesbury Prayer Centre
          </h6>
          <p class="prayer-centre-para">
            Aylesbury is a bustling market town located just north of the
            Chiltern Hills, Buckinghamshire, in the rich agricultural area
            known as the Vale of Aylesbury. Aylesbury being the birthplace
            of the Paralympics does hold a significant place in history.
          </p>
          <p class="prayer-centre-para">
            Aylesbury Prayer Centre is a Malayalam Pentecostal Church worshiping the Lord in truth and spirit.
            Spirit-filled worship, sound teaching of God’s Word and prayer are central to the Aylesbury Prayer Centre
            community. We wholeheartedly welcome you to our regular services.
          </p>
          <p class="prayer-centre-para">
            Location - Address: The Grange Secondary School, Wendover Way, Aylesbury HP21 7NH
          </p>
          <div class="prayer-centre-location">
            <a class="landing-location-btn"
              href="https://www.google.com/maps/place/Cheney+School/@51.7531368,-1.2222746,15z/data=!4m5!3m4!1s0x0:0x168e662c1037c82e!8m2!3d51.7531368!4d-1.2222746">View
              Location
              <i class="fa-solid fa-arrow-right" style="margin-left: 8px"></i></a>
          </div>
        </div>
        <div class="col-md-5 service-timing-wrapper">
          <h6>Service Timings</h6>
          <div class="service-timing-box">
            <div class="container">
              <div class="timing">
                <p class="timing-head">Ladies prayer meet</p>
                <p>Wednesday 8:00 PM to 09:00 PM</p>
              </div>
              <div class="timing">
                <p class="timing-head">Cottage Meeting</p>
                <p>Tuesday 7:00 PM to 9:00 PM</p>
              </div>
              <div class="timing">
                <p class="timing-head">Sunday School</p>
                <p>Sunday 2:00 PM to 2:45 PM</p>
              </div>
              <div class="timing">
                <p class="timing-head">Worship</p>
                <p>Sunday 3:00 PM to 5:00 PM</p>
              </div>
              <div class="timing last">
                <div class="user-sec">
                  <i class="fas fa-user"></i>
                  <p>
                    Pr. Mathew Issac <br />
                    Mobile : +447888012908
                    <br><br>
                    Pr. Finny John <br />
                    Mobile : +447956424509 (WhatsApp Only)
                  </p>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="devider"></div>
      </div>
    </div>
  </section>


  <section id="prayer-centre">
    <div class="container">
      <div class="row black-box-row">
        <div class="col-md-6 black-box-col">
          <h6 class="prayer-centre-title" id="oxford">
            Witney Prayer Centre
          </h6>
          <p class="prayer-centre-para">
            Witney is a marketplace in Oxfordshire and has a strong heritage of both episcopal and Pentecostal
            movements. The Witney Prayer Centre is working under a charity called Gospel for Nations and it is opened
            for a multilingual congregation based on pure Pentecostal doctrines. Now, the lion part of the congregation
            is comprised of South Indians who speak, Malayalam, Tamil, and other South Indian languages, so the services
            are both in English and Malayalam. As we are looking forward to even for the native English, English Worship
            will also be commenced soon.
          </p>

          <div class="prayer-centre-location">
            <a class="landing-location-btn"
              href="https://www.google.com/maps/place/Cheney+School/@51.7531368,-1.2222746,15z/data=!4m5!3m4!1s0x0:0x168e662c1037c82e!8m2!3d51.7531368!4d-1.2222746">View
              Location
              <i class="fa-solid fa-arrow-right" style="margin-left: 8px"></i></a>
          </div>
        </div>
        <div class="col-md-5 service-timing-wrapper">
          <h6>Service Timings</h6>
          <div class="service-timing-box">
            <div class="container">
              <div class="timing">
                <p class="timing-head">Ladies prayer meet</p>
                <p>Tuesday 8:00 PM to 9:00 PM</p>
              </div>
              <div class="timing">
                <p class="timing-head">Cottage Meeting</p>
                <p>Friday 7:30 PM to 9:00 PM </p>
              </div>
              <div class="timing">
                <p class="timing-head">Sunday School</p>
                <p>Sunday 9:30 AM to 10:30 AM</p>
              </div>
              <div class="timing">
                <p class="timing-head">Worship</p>
                <p>10:30 AM to 12:30 PM</p>
              </div>
              <div class="timing last">
                <div class="user-sec">
                  <i class="fas fa-user"></i>
                  <p>
                    Pr.  Davidson David <br />
                    Mobile : +44 7711225727
                    <br><br>
                    Pr. Finny John <br />
                    Mobile : +447956424509 (WhatsApp Only)
                  </p>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="devider"></div>
      </div>
    </div>
  </section>
  <section class="footer">
    <div class="footer-top">
      <section class="address-section">
        <h5>Address</h5>
        <p>5 Kennet Close</p>
        <p>High Wycombe, Buckinghamshire</p>
        <p>HP12 4LG</p>
      </section>
      <section class="contact-section">
        <h5>Contact Us</h5>
        <p>Pr.Finny John: +447956424509 (WhatsApp Only)</p>
        <p>Pr.Blesson Thomas : +447703416885 (High Wycombe)</p>
        <p>Pr.Mathew Issac : +447888012908 (Aylesbury)</p>
        <p>Pr.Sibi Mathew : +447424 320122 (Oxford)</p>
        <p>Pr.Davidson David : +447711225727 ( Witney)</p>

        <p>Sibi Mathew (Oxford) - +44 7424320122</p>
      </section>
      <section class="follow-section">
        <h5>Follow Us</h5>
        <div class="icon-container">
          <i class="fa-brands fa-youtube" onclick="goYoutube()"></i><i class="fa-brands fa-twitter" onclick="goTwit()"
            style="margin-left: 5px"></i><i class="fa-brands fa-facebook-f" onclick="goFb()"
            style="margin-left: 5px"></i>
          <i class="fa-brands fa-instagram" onclick="goInsta()" style="margin-left: 5px"></i>
        </div>
      </section>
    </div>
    <div class="footer-bottom">
      <p>@ 2022 www.gospelfornations.co.uk All Rights Reserved</p>
    </div>
  </section>

  <script src="https://kit.fontawesome.com/ffd7bffe92.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"></script>

  <script>
    function goMap() {
      window.location.href =
        "https://www.google.com/maps/place/12+Field+Rd,+High+Wycombe+HP12+4LR,+UK/@51.6250551,-0.7878825,17z/data=!4m5!3m4!1s0x48768a439bc7e6e7:0xdc9643b787856cf0!8m2!3d51.6250351!4d-0.7884726";
    }

    function goYoutube() {
      window.location.href =
        "https://www.youtube.com/channel/UC6RJQprq8X-yLUlVaOI1XHQ";
    }

    function goFb() {
      window.location.href =
        "https://www.google.com/url?sa=t&source=web&rct=j&url=https://m.facebook.com/oxfordandwycombeprayercentre/&ved=2ahUKEwjQuoT3xM_4AhUvQkEAHaJSBeIQFnoECAYQBQ&usg=AOvVaw08t821lKnrZRqp8jz7OmgX";
    }

    function goTwit() {
      window.location.href = "https://twitter.com/NationsGospel?t=_U1phYnDhBNpc-zi-_2z5A&s=08";
    }

    function goInsta() {
      window.location.href = "";
    }
  </script>
</body>

</html>