{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <link rel="stylesheet" href="{% static 'css/footer.css' %}" />
  <link rel="stylesheet" href="{% static 'css/events.css' %}" />
  <!-- <link rel="stylesheet" href="{% static 'css/video.css' %}" /> -->


  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />

  <!-- font awsome -->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- font awsome -->
  <title>Events</title>
</head>

<body>
  <div class="event-container-wrapper">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
        <a class="navbar-brand" href="/"><img src="{% static 'img/logo.png' %}" alt="logo" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/minister">Our Minister</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/events">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/charity">Charity</a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="selection-btns">
        <a href="/events">
          <button class="selection-btn"> <i class="fas fa-bars"></i> Events</button>
        </a>
        <a href="/photos">
          <button class="selection-btn"> <i class="fas fa-photo-video"></i> Photos</button>
        </a>
        <a href="/videos">
          <button class="selection-btn"> <i class="fas fa-video"></i> Videos</button>
        </a>
        <a href="/">
          <button class="selection-btn"> <i class="fas fa-podcast"></i> Podcast</button>
        </a>
      </div>
      <style>
        a {
          text-decoration: none;
        }
      </style>

    </div>
    <div class="container evt-container">
      <h2 class="up-comming-event-heading heading mt-5">
        Upcomming Events <br />
        <label for=""></label>
      </h2>

      <!-- event image gallery start -->

      <div class="event-gallery-container">
        <!------Dynamic Content start-->

        {% for event in upcoming_events %}
        <a href="event/details?id={{event.id}}">
          <div class="gallery-content">
            <img src="/media/{{event.image}}" alt="event-banner" />
            <h5>{{event.title}}</h5>
            <p>{{event.time_from}} to {{event.time_to}}</p>
          </div>
        </a>
        {% endfor %}

        <!------Dynamic Content start-->
      </div>

      <h2 class="previous-event-heading heading">
        Previous Events <br />
        <label></label>
      </h2>

      <div class="event-gallery-container">
        <!------Dynamic Content start-->
        {% for event in previous_events %}
        <div class="gallery-content">
          <img src="/media/{{event.image}}" alt="event-banner" />
          <h5>{{event.title}}</h5>
          <p>{{event.time_from}} to {{event.time_to}}</p>
        </div>
        {% endfor %}
        <!------Dynamic Content start-->
      </div>

      <!-- event image gallery end -->
    </div>
  </div>
  <section class="footer">
    <div class="footer-top">
      <section class="address-section">
        <h5>Address</h5>
        <p class="small">12 Field Road 12 Field Road</p>

        <p class="big">12 Field Road</p>
        <p class="big">High Wycombe</p>
        <p>HP12 4LR</p>
      </section>
      <section class="contact-section">
        <h5>Contact Us</h5>
        <p>+44 7956 424509</p>
        <p>info@gospelfornations.co.uk</p>
      </section>
      <section class="follow-section">
        <h5>Follow Us</h5>
        <div class="icon-container">
          <i class="fa-brands fa-google-plus-g"></i><i class="fa-brands fa-twitter" style="margin-left: 5px"></i><i
            class="fa-brands fa-facebook-f" style="margin-left: 5px"></i>
          <i class="fa-brands fa-instagram" style="margin-left: 5px"></i>
        </div>
      </section>
    </div>
    <div class="footer-bottom">
      <p>@ 2022 www.gospelfornations.co.uk All Rights Reserved</p>
    </div>
  </section>

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"></script>
</body>

</html>