{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/footer.css' %}" />
  <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">

  <!-- -----meta tags ------ -->
  <meta name="keywords"
  content="gospelfornations,gospelfornation,church,Malayalam,High Wycombe,high wycombe Malayalee Pentecostal Church in High Wycombe,wycombe, Aylesbury,oxford,Buckinghamshire,Oxfordshire aylesbury church uk waycombe">
<meta name="description"
  content="Malayalam/ Malayalee Pentecostal Church in High Wycombe, Aylesbury, Oxford,  Buckinghamshire,  Oxfordshire">


<!-- --------meta tags--------- -->
  <title>Sacraments</title>
</head>

<body>

  <section id="sacraments2">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
        <a class="navbar-brand" href="/"><img src="{% static 'img/logo.png' %}" alt="logo" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/events">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/charity">Charity</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/minister">Our Minister</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/photos">Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact Us</a>
            </li>
            
          </ul>
        </div>
      </nav>
      <h1 class="sacraments-heading">Sacraments <p class="sacraments-underline"></p>
      </h1>
      <div class="row sacrament-row">
        <div class="col-md-6 sacrament-col">
          <div class="row sub-row">
            <div class="col-md-3 number-col">
              <h1 class=" sacrament-number">01</h1>
            </div>
            <div class="col-md-9 pt-5 col-h">
              <h3>Water Baptism</h3>
              <p class="sacrament-des" style="color:#C8C8C8 ;">All those born again believers, by accepting Christ in
                their hearts as Saviour must accept the water immersion Baptism, the commandment of our LORD. It is a
                public witness of the believer that he/she is baptized in to His death, buried with Him, raised from the
                dead, as Christ was raised to live in the newness of life. (Mathew 28:19, Acts 10:47, Rom. 6:4).</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 sacrament-col">
          <div class="row sub-row">
            <div class="col-md-3 number-col">
              <h1 class=" sacrament-number">02</h1>
            </div>
            <div class="col-md-9 pt-5 col-h">
              <h3>Water Baptism</h3>
              <p class="sacrament-des" style="color:#C8C8C8 ;">All those born again believers, by accepting Christ in
                their hearts as Saviour must accept the water immersion Baptism, the commandment of our LORD. It is a
                public witness of the believer that he/she is baptized in to His death, buried with Him, raised from the
                dead, as Christ was raised to live in the newness of life. (Mathew 28:19, Acts 10:47, Rom. 6:4).</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <section id="statement">
    <div class="container">
      <h1 class="statement-heading">Our value statement <p class="statement-underline"></p>
      </h1>
      <div class="row">
        <div class="col-md-5 statement-img" id="img1">
          <img src="{% static 'img/statement.png' %}" alt="image">
        </div>
        <div class="col-md-6">
          <h6 class="statement-h6">1. Biblical: Faith in God and His Word.</h6>
          <h6 class="statement-h6">2. Loving: Christ-like inter-personal relationships.</h6>
          <h6 class="statement-h6">3. Equipping: Teams of diversely gifted people and equipping individuals for sharing
            gospel effectively.</h6>
          <h6 class="statement-h6">4. Spirit-filled: Dependence on the guidance of the Holy Spirit in personal life and
            in all church services.</h6>
          <h6 class="statement-h6">5. Serving: the church and the broader communitywith mercy and compassion.</h6>
        </div>
        <div class="col-md-5 statement-img" id="img2">
          <img src="{% static 'img/statement.png' %}" alt="image">
        </div>
      </div>
    </div>
  </section>

  <section class="footer">
    <div class="footer-top">
      <section class="address-section">
        <h5>Address</h5>
        <p>12 Field Road</p>
        <p>High Wycombe</p>
        <p>HP12 4LR</p>
      </section>
      <section class="contact-section">
        <h5>Contact Us</h5>
        <p>+44 7956 424509</p>
        <p>wpcgospelfornations@gmail.com</p>
      </section>
      <section class="follow-section">
        <h5>Follow Us</h5>
        <div class="icon-container">
          <i class="fa-brands fa-youtube" onclick="goYoutube()"></i
          ><i class="fa-brands fa-twitter" onclick="goTwit()" style="margin-left: 5px"></i
          ><i class="fa-brands fa-facebook-f" onclick="goFb()" style="margin-left: 5px"></i>
          <i class="fa-brands fa-instagram"onclick="goInsta() style="margin-left: 5px"></i>
        </div>
      </section>
    </div>
    <div class="footer-bottom">
      <p>@ 2022 www.gospelfornations.co.uk All Rights Reserved</p>
    </div>
  </section>
  <script src="https://kit.fontawesome.com/ffd7bffe92.js" crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"></script>
  <script>

    function goYoutube(){
      window.location.href = "https://www.youtube.com/channel/UC6RJQprq8X-yLUlVaOI1XHQ"
    }

    function goFb(){
      window.location.href = "https://www.google.com/url?sa=t&source=web&rct=j&url=https://m.facebook.com/oxfordandwycombeprayercentre/&ved=2ahUKEwjQuoT3xM_4AhUvQkEAHaJSBeIQFnoECAYQBQ&usg=AOvVaw08t821lKnrZRqp8jz7OmgX"
    }

    function goTwit(){
      window.location.href = "https://twitter.com/NationsGospel?t=_U1phYnDhBNpc-zi-_2z5A&s=08"
    }

    function goInsta(){
      window.location.href = ""
    }

  </script>
</body>

</html>