{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <link rel="stylesheet" href="{% static 'css/footer.css' %}" />
  <title>Services</title>


</head>
<!-- done -->

<body>
  <section id="our-minister">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
        <a class="navbar-brand" href="/"><img src="{% static 'img/logo.png' %}" alt="logo" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/events">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/charity">Charity</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/minister">Our Minister</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/photos">Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact Us</a>
            </li>

          </ul>
        </div>
      </nav>

      <h1 class="service-heading">
        Services
        <p class="service-underline"></p>
      </h1>

      <!-- //---------------------------- accordian------------------------------------// -->
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingFour">
            <h4 class="panel-title text-center">
              <a class="collapsed accordian-title">Worship service
              </a>
              <i class="fa-solid fa-caret-down" data-toggle="collapse" data-parent="#accordion" href="#collapseFour"
                aria-expanded="true" aria-controls="collapseFour" style="margin-left: 20px"></i>
            </h4>
          </div>
          <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-7 panel-text">
                  <p style="    font-size: 16px;
">
                    Every Sundays from 10 am to 12:45 pm worship service is
                    conducted at the John Wood Scout Hall, High Wycombe (Keep
                    Hill Rd, High Wycombe HP11 1DW) and from 3.30pm to 6pm at
                    the Cheney School, Oxford (Cheney lane, Oxford, OX3 7QH).
                    Due to the predominant members being from Malayalee
                    background, services are mostly in Malayalam. However, we
                    do provide translation and special assistance for those in
                    need of interpretation. Pastor Finny John runs the
                    services. For more information, please contact Pastor
                    Finny John on 07956424509, Sibi Mathew (Oxford) on 07424
                    320122 or Br Mathew Issac (Aylesbury) on 07888012908.
                  </p>
                </div>
                <div class="col-md-4 panel-img im-4"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title text-center">
              <a class="accordian-title">Sunday School
              </a>
              <i class="fa-solid fa-caret-down" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne" style="margin-left: 20px"></i>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body justify-content-center">
              <div class="row">
                <div class="col-md-7 panel-text">
                  <p style="    font-size: 16px;
">
                    “Train up a child in the way he should go, And when he is
                    old he will not depart from it.” [Proverbs 22:6.]
                  </p>
                  <p style="    font-size: 16px;
">
                    We strongly believe that the church has a huge role in
                    developing the next generation. To provide the knowledge
                    of Christ and biblical truths, we organise weekly Sunday
                    school services. These Sunday schools are run on the first
                    three Sunday mornings from 9.15 am to 10am at Scouts Hall,
                    Keep Hill Road, High Wycombe and from 3pm to 3.30pm at
                    Oxford. The Sunday school comprises introductions,
                    prayers, thought for the day, learning songs, completion
                    of assignments, presentations, testimonies and also age
                    appropriate classes. The Sunday school sessions are being
                    run by members of the church who have been DBS checked.
                    The Sunday school classes also provide opportunity for
                    students to clear their doubts and seek help in spiritual
                    matter. We also provide counselling and career support.
                    Annual examinations are also run based on the curriculum
                    that is being followed.
                  </p>
                </div>
                <div class="col-md-4 panel-img im-1"></div>
              </div>
            </div>
          </div>
        </div>


        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingSix">
            <h4 class="panel-title text-center">
              <a class="collapsed accordian-title">Prayer Cells
              </a>
              <i class="fa-solid fa-caret-down" data-toggle="collapse" data-parent="#accordion" href="#collapseSix"
                aria-expanded="true" aria-controls="collapseSix" style="margin-left: 20px"></i>
            </h4>
          </div>
          <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-7 panel-text">
                  <p style="    font-size: 16px;
">
                    Prayer cells are the driving force for the church which
                    propels the church forward and can be used to promote
                    "union" and "brotherly love" between attendees. Over in
                    three areas (High Wycombe, Aylesbury and Oxford), prayer
                    cells are run weekly. These prayer cells run in various
                    homes. Prayer cell forms a platform for believers to
                    develop, share short messages, lead as well as pray for
                    the various needs of the members. The timings and venue of
                    the prayer cells in these areas vary depending on the
                    convenience of the members. The Pastor visits the various
                    prayers cells in turns.
                  </p>
                </div>
                <div class="col-md-4 panel-img im-6"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingSeven">
            <h4 class="panel-title text-center">
              <a class="collapsed accordian-title">Fasting Prayers
              </a>
              <i class="fa-solid fa-caret-down" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven"
                aria-expanded="true" aria-controls="collapseSeven" style="margin-left: 20px"></i>
            </h4>
          </div>
          <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-7 panel-text">
                  <p style="    font-size: 16px;
">
                    In High Wycombe fasting prayer meetings runs on Fridays and Saturdays of the first week of the
                    month. And in Oxford it runs on Fridays and Saturdays of the third week of the month. These meetings
                    are run within homes and often guest pastors are invited. Believers gather together to pray for the
                    perishing and the needy.
                  </p>
                </div>
                <div class="col-md-4 panel-img im-7"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title text-center">
              <a class="collapsed accordian-title">Ladies Meeting
              </a>
              <i class="fa-solid fa-caret-down" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"
                aria-expanded="true" aria-controls="collapseThree" style="margin-left: 20px"></i>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-7 panel-text">
                  <p style="    font-size: 16px;
">
                    Weekly on Tuesdays ladies do gather within High Wycombe
                    and Oxford respectively to pray. The services have helped
                    to provide support and also share gospel. The group meets
                    in the one of residences of the church members. We provide
                    zoom links for those who would like to join the service
                    online. In these meetings, ladies find time to witness
                    Christ, encourage each other, share the word of God and
                    pray for several needs especially for the revival and
                    spiritual growth of individuals. Moreover, ladies as a
                    group meet to pray for the sick, growth of the church,
                    revival of the land and repentance of souls. They also
                    visit families and individuals and pray for their personal
                    and spiritual needs.
                  </p>
                </div>
                <div class="col-md-4 panel-img im-3"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingFive">
            <h4 class="panel-title text-center">
              <a class="collapsed accordian-title">Youth meetings
              </a>
              <i class="fa-solid fa-caret-down" data-toggle="collapse" data-parent="#accordion" href="#collapseFive"
                aria-expanded="true" aria-controls="collapseOne" style="margin-left: 20px"></i>
            </h4>
          </div>
          <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-7 panel-text">
                  <p style="    font-size: 16px;
">
                    Investing in today’s youth is necessary in growing the
                    body of Christ. Teaching young people in the church to
                    grow in their relationship with the Lord prepares them to
                    serve Christ in all they do. As a result, this nurtures
                    the congregation and allows the church to flourish.]
                  </p>
                  <p style="    font-size: 16px;
">
                    Serving young people cannot only prepare them to become
                    future leaders, but also allow them to contribute to the
                    church. This is seen many times in the Bible, as God often
                    used young people to do great things. For example, God
                    used Timothy to pastor and lead the Ephesian church when
                    he was a teenager. 1 Timothy 4:12 says, “Don’t let anyone
                    look down on you because you are young, but set an example
                    for the believers in speech, in conduct, in love, in faith
                    and in purity.”d.
                  </p>
                  <p style="    font-size: 16px;
">
                    Regular youth meetings are held every month on the last
                    Sunday from 12 pm. The church members are divided into
                    groups and take turns to display their God given talents
                    based on their choices. The youth wing also organises
                    annual talent tests and outdoor events.
                  </p>
                </div>
                <div class="col-md-4 panel-img im-5"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title text-center">
              <a class="collapsed accordian-title">Kingdom Kids
              </a>
              <i class="fa-solid fa-caret-down" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
                aria-expanded="true" aria-controls="collapseTwo" style="margin-left: 20px"></i>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-7 panel-text">
                  <p style="    font-size: 16px;
">
                    Yearly children activities are organised with an emphasis
                    to create more awareness for the children and youth on
                    spiritual matters. During these sessions special guests
                    are invited to teach and support. The children from other
                    churches are also invited and a theme is focused for the
                    whole day session. These sessions also have planned games
                    and activities.
                  </p>
                </div>
                <div class="col-md-4 panel-img im-2"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingEight">
            <h4 class="panel-title text-center">
              <a class="collapsed accordian-title">Family conference
              </a>
              <i class="fa-solid fa-caret-down" data-toggle="collapse" data-parent="#accordion" href="#collapseEight"
                aria-expanded="true" aria-controls="collapseEight" style="margin-left: 20px"></i>
            </h4>
          </div>
          <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-7 panel-text">
                  <p style="    font-size: 16px;
">
                    Yearly once family conferences are organised with a focus
                    to strengthen fellowship among the believers and to share
                    love. A number of spiritual, cultural events gets
                    organised and games are run for children. The conference
                    also provides opportunity for the families to listen to
                    biblical teaching focussed on the ‘Christian family’ from
                    specially invited guests.
                  </p>
                </div>
                <div class="col-md-4 panel-img im-8"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingNine">
            <h4 class="panel-title text-center">
              <a class="collapsed accordian-title">Community services
              </a>
              <i class="fa-solid fa-caret-down" data-toggle="collapse" data-parent="#accordion" href="#collapseNine"
                aria-expanded="true" aria-controls="collapseNine" style="margin-left: 20px"></i>
            </h4>
          </div>
          <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-7 panel-text">
                  <p style="    font-size: 16px;
">
                    The church collects clothes and sends them over to the needy both within and outside UK. The church
                    supports housing projects, medical needs, education and also runs various fund raising events. The
                    church has supported several charity organisations within UK and intends to do more
                  </p>
                </div>
                <div class="col-md-4 panel-img im-9"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- //---------------------------- accordian------------------------------------// -->
    </div>
  </section>

  <section class="footer">
    <div class="footer-top">
      <section class="address-section">
        <h5>Address</h5>
        <p>12 Field Road</p>
        <p>High Wycombe</p>
        <p>HP12 4LR</p>
      </section>
      <section class="contact-section">
        <h5>Contact Us</h5>
        <p>+44 7956 424509</p>
        <p>wpcgospelfornations@gmail.com</p>
      </section>
      <section class="follow-section">
        <h5>Follow Us</h5>
        <div class="icon-container">
          <i class="fa-brands fa-youtube" onclick="goYoutube()"></i><i class="fa-brands fa-twitter" onclick="goTwit()"
            style="margin-left: 5px"></i><i class="fa-brands fa-facebook-f" onclick="goFb()"
            style="margin-left: 5px"></i>
          <i class="fa-brands fa-instagram" onclick="goInsta()" style="margin-left: 5px"></i>
        </div>
      </section>
    </div>
    <div class="footer-bottom">
      <p>@ 2022 www.gospelfornations.co.uk All Rights Reserved</p>
    </div>
  </section>
  <script src="https://kit.fontawesome.com/ffd7bffe92.js" crossorigin="anonymous"></script>
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/jquery.slim.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script>

    function goYoutube() {
      window.location.href = "https://www.youtube.com/channel/UC6RJQprq8X-yLUlVaOI1XHQ"
    }

    function goFb() {
      window.location.href = "https://www.google.com/url?sa=t&source=web&rct=j&url=https://m.facebook.com/oxfordandwycombeprayercentre/&ved=2ahUKEwjQuoT3xM_4AhUvQkEAHaJSBeIQFnoECAYQBQ&usg=AOvVaw08t821lKnrZRqp8jz7OmgX"
    }

    function goTwit() {
      window.location.href = ""
    }

    function goInsta() {
      window.location.href = ""
    }

  </script>
</body>

</html>